@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');

header{
    display: block;
    height: 260px;
}

.banner{
    height: 260px;
    position: absolute;
    top: 0;
    width: 100%;
    transform: scaleX(-1);
    z-index: -1;
}

#navbar{
    position: absolute;
    margin: 0;
    z-index: 1000;
    width: 50%;
}

.background-blur-img{
    display: none;
}

#navbar label, #hamburger {
    display: none;
    top: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

#navbar ul li {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    
}
#navbar ul li a {
    color: rgba(137, 147, 151, 0.959);
    text-decoration: none;
    padding-bottom: 5px;
    top: 0;
    letter-spacing: 2.5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

#navbar ul {
    display: block;     
}

#navbar input:checked ~ ul {
    display: none; 
}

#navbar label {
    display: inline-block;
    color: #fff;
    background: rgba(5, 105, 88, 0.63);
    font-style: normal;
    font-size: 1.5em;
    padding: 15px;
    position: absolute;
    top: 0; 
    z-index: 100;
}

#navbar ul li {
    display: block;
    position: sticky;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(45, 170, 153, 0.877);
    padding: 15px;
    color: rgba(137, 147, 151, 0.959);
}

#navbar ul li a:hover{
    border-bottom: 5px solid rgba(57, 240, 215, 0.719);
}

#banner-headings{
    position: absolute;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 200px;
    height: 100px;
}

.banner-txt{
    display: flex;
    width: 100%;
    z-index: 1;
}

#banner-heading{
    display: flex;
    color: transparent;
    background: transparent;
    background-clip: text;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.76);
    font-size: 2.9rem;
    font-family: 'Archivo', sans-serif;
    margin:0;
    order: 1;
    height: 50%;
}

#banner-subheading{
    display: flex;
    font-size: 12px;
    color: white;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.1px;
    opacity: 0.9;
    text-shadow: 0px 15px 3px rgba(104, 101, 101, 0.836);
    margin: 0;
    order: 2;
    height: 50%;
    margin-left: 3px;
}

#about-section{
    display: block;
    margin: 0;
    background-image: url("photos/about-background.png");
    background-size: cover;
}

#about-mallorca{
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

.about-heading-icon{
    width: 25px;
    height: 25px;
    align-self: center;
    padding-top: 20px;
}


.about-heading{
    padding: 5px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    color: rgba(2, 24, 34, 0.959);
}

.about-subheading{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgba(2, 24, 34, 0.959);
}

.about-paragraph{
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    color: rgba(137, 147, 151, 0.959);
}

#attractions-section{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

#slider{
    display: block;
    width: 80%;
    height: 300px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
  
.trigger {
    display: none;
}
  
.slider, .slider-wrapper {
    position: relative;
    height: 300px;
}
  
.slide {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
.slide-img {
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
    background-size: cover;
}
  
.slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
    width: 100%;
  }
  
.slide-caption {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    color: rgba(7, 23, 46, 0.856);
    text-align: center;
}

.slide-caption p{
    position: relative;
    top: 110px;
    bottom: 0;
    font-size: 18px;
    line-height: 1;
    padding-top: 5px;
}

.slide-heading{
    background-color: rgba(127, 182, 152, 0.548);
    font-size: 2rem;
    margin: 0;
    height: 50px;
    padding-top: 25px;
    color: rgba(2, 24, 34, 0.959);
}

.see-more{
    background-color: rgba(255, 255, 255, 0.76);
    color: orangered;
    padding: 3px 10px;
    margin-top: 20px;
    height: 20px;
    cursor: pointer;
}
  
.trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
}
  
.slider-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    
}
  
.slider-nav__item {
    display: inline-block;
}
  
.slider-nav__label {
    font-size: 13px;
    background-color: rgb(16, 73, 90);
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
}
  
.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
    background-color: rgb(223, 114, 52);
    color: black;
}

.attractions-heading{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
    color: rgba(2, 24, 34, 0.959)
}

.attractions-heading-icon{
    display: block;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    align-self: center;
    top: 10px;
    filter: brightness(90%);
    padding:0;
}

#booking-box{
    display: block;
    position: absolute;
    margin-top: 180px;
    height: 100px;
    width: 100%;
    background: rgba(255, 146, 83, 0.664);
}

#booking-bar{
    display: inline-block;
    width: 100%;
    height: 200px;
    background-image: url("photos/booking.bar.jpg");
    background-size: cover;
    z-index: -100;
}

.booking-bar-heading{
    position: sticky;
    height: 40px;
    width: 80%;
    top: 50px;
    background: rgba(245, 245, 220, 0.5);
    z-index: 0;
    right: 20px;
    left: 30px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 24px 13px -4px rgba(122,104,96,1);
    border-bottom: 2px solid gray;
    color: rgba(2, 24, 34, 0.959);
    font-family: 'Archivo', sans-serif;
}
#booking-form{
    background-image: url("photos/booking-form.jpg");
    padding-bottom: 20px;
    z-index: 10000;
}

.toggle{
    color: red;
    display: inline-block;
    margin-left: 45%;   
}

#booking-box input:checked ~ #booking-form{
    color: yellow;
    display: none;
}

#booking-box #collapsible{
    display: none;
}

.booking-title-box{
    width: auto;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    padding-bottom: 20px;
    margin-top: 10%;
}

#booking-form > .booking-title-box label{
    width: 50%;
    margin-left: 20%;
    background-color: rgba(252, 148, 63);
    height: 20px;
    padding-top: 50px;
    border-bottom: 5px solid gray;
    font-size: 22px;
}
.booking-location-input, .booking-date-input, .booking-submit-button{
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    background: rgba(252, 148, 63, 0.582);
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    border-bottom: 5px solid gray;
}

#booking-form label{
    display: block;
    text-align: center;
    background: transparent;
    width: auto;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}


.booking-submit-button{
    background-color: rgba(241, 125, 30, 0.795);
    border: none;
    border-radius: 0.3125rem; 
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    color:white;
}


#subscription{
    display:block;
    top: 500px;
    width: 100%;
    height: 200px;
    background: rgba(255, 146, 83, 0.664);
    color: rgba(137, 147, 151, 0.959);
    text-align: center;
    padding-top: 50px;
    z-index: -10000;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}

#subscription-form{
    height: 120px;
}

.subscribe-heading{
    margin: 10px 0;
    padding: 5px;
}

.subscribe-subheading{
    margin: 5px;
    padding: 0;
    color: rgba(137, 147, 151, 0.959);
}

.subscribe-input input{
    position: relative;
    width: auto;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    background: #eee;
    outline: none;
    border: none;
    color: #222;
    transition: 0.3s linear;
}

.subscribe-button{
    background-color: rgba(241, 125, 30, 0.795);
    border-radius: 0.3125rem; 
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    color:white;
	outline: none;
    border: none;
    height: 40px;
    width: 150px;
	transition: 0.3s linear;
}

#contact{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: auto;

    width: 100%;
    background-image: url("photos/contact.jpg");
    background-size: cover;
    color: rgba(216, 211, 211, 0.86);
}

#left-footer-side {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    order: 1;
    font-family: 'Archivo', sans-serif;
    padding-top: 20px;

}

#right-footer-side{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 300px;
    order: 2;
    width: 100%;
}

.mapouter *{
    top: 200px;
}

.contact-footer-icon{
    width: 25px;
    height: 20px;
    display: flex;
    align-self: center;
}

#youtube {
    background-image: url("photos/youtube.png");
}
#facebook {
    background-image: url("photos/facebook.png");
}
#instagram{
    background-image: url("photos/instagram.png");
}

.sm{
    width: 30px;
    height: 30px;
    padding: 15px;
    background: none;
    border: none;
    background-size: cover;
    filter: saturate(0%);
}

@media screen and (min-width: 780px){
    
    *:before,
    *:after {
        box-sizing: border-box;
    }
    html,
    body {
        min-height: 100%;
        width: 100%;
    }

       
    .background-blur-img{
        filter: blur(80px);
        height: 600px;
        width: 100%;
        display: block;
        z-index: -100;
    }

    main {
        position: relative;
        display: block;
        height: auto;
        margin-top: 100vh;
        padding: 0px;
        z-index: 100;
        overflow: visible;
    }

    header{
        position: absolute;
        height: 800px;
        background: transparent;
        width: 100%;
        z-index: -100 !important;
        top: 0;
    }

   .banner{
       position: relative;
       margin-top: -550px;
       margin-left: 5%;
       margin-right: 5%;
       width: 90%;
       height: 100vh;
       z-index: 50;
   }

   .banner img{
       height: 70vh;
       width: 100%;
   }
   #banner-headings{
       width: 80%;
       top: 320px;
       padding-left: 10%;
       padding-right: 10%;
       margin: 0;
       text-align: left;
    }

    .banner-txt{
        padding-top: 7% !important;
    }
    #navbar {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        z-index: 5000;
    }

    #navbar input:checked ~ ul {
        display: flex;
        width: 100%;
        align-content: center;
    }

    #navbar ul li{
        width: 180px;
        display: flex;
        justify-content: space-evenly;
        background:transparent;
    }

    .navbar-items{
    display: flex;
    justify-content: center;
    }

    .navbar-items li {
    display: flex;
    flex-direction: column;
    }

   

    /* Hide Hamburger */
    #navbar label, #hamburger {
    display: none;
    }

    #banner-heading{
    position: relative;
    color: transparent;
    background: transparent;
    background-clip: text;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.76);
    font-size: 8rem;
    font-family: 'Archivo', sans-serif;
    width: 100%;
    z-index: 50000;
    }

    #banner-subheading{
    position: relative;
    font-size: 2rem;
    color: white;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 11px;
    opacity: 0.9;
    text-shadow: 0px 15px 3px rgba(150, 150, 150, 0.77); 
    z-index: 50000;
    }


    #about-section{
        position: relative;
        background: white;
        width: 90%;
        margin-right: 5%;
        margin-lefT: 5%;
    }

    #about-mallorca{
        position: relative;
        height: 550px;
        padding-top: 10%;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
       
    }

    .about-heading-icon{
        height: 30px;
        width: 30px;
        padding-top: 200px;
    }

    .about-heading{
        font-size: 3rem;
    }

    .about-subheading{
        font-size: 2rem;
    }

    .about-paragraph{
        font-size: 1.2rem;
        line-height: 1.3;
        width: 60%;
        margin-left: 20%;
        right: 10%;
    }


    #attractions-section{
        height: 1000px;
        width: 80%;
        padding: 0 10% 0 10%;
        background-color: white;
        background-image: url("waves.png");
        background-size: cover;
        
    }
    .attractions-heading-icon{
        width: 30px;
        height: 30px;
        padding-top: 200px;
        
    }

    .attractions-heading{
        font-size: 3rem;
        letter-spacing: 0;
        padding: 0;
        margin: 0;
        padding-bottom: 100px;
    }

    .slide{
        width: 100%;
        height: 400px;
        background:transparent;
        }

        .slider{
            position: relative;
            height: 400px;
            background-color: #fffdf0bd;
        }

        .slider-wrapper ul li{
           
            z-index: 1000;
        }
    .slide-figure{
        width: 100%;
        height: 400px;
        background:transparent;
        
    }
    .slide-img{
        width: 550px;
        border-left: 10px solid orangered;
        margin-left: -90px;
    }
    .slide-img img{
        width: auto;
        height: 100%;
    }

    .slider-nav {
        display: flex;
        margin-top: 50px;
        z-index: 1;
        position: sticky;
        height: 70px;
        justify-self: center;
        padding: 15px;
        z-index: 1000;
    }

    .slider-nav__item{
        padding: 10px;
        z-index: 1000;
        position: sticky;
    }

    .slide-heading{
        font-size: 2rem;
        color: rgba(2, 24, 34, 0.959);
        height: 40px;
        z-index: 2000;
        text-align: left;
        background-color: transparent;
    }

    .slide-caption{
        height: 550px;
        margin-top: 30px;
        margin-left: 45vw;
        z-index: 2000;
        background-color: transparent;
    }

    .slide-caption p{
        position: relative;
        top: 0;
        left: 0;
        margin-top: 30px;
        text-align:left;
        height: 100px;
        width: 30%;
        background-color: transparent;
        color: rgba(137, 147, 151, 0.959);
    }

    .slide-caption p .see-more{
        font-size: 15px;
        padding: 20px;
        font-weight: bold;
    }


    #booking-bar{
        position: relative;
        background-image: none;
        z-index: 200 !important;
    }

    .booking-bar-heading{
        display: none;
        top: 90px;
        height: 100px;
        left: 10%;
        right: 10%;
        font-size: 2rem;
        padding-top: 40px;
        font-family: 'Archivo', sans-serif;
        

    }

    #subscription{
        position: relative;
        width: 100%;
        height: 100px;
        top: 0;
        background-color: white;
        
    }

    .input-field{
        width: 600px;
    }

    #booking-box{
        width: 90%;
        height: 100px !important;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        background: none;
        margin-top: -80px !important;
        z-index: 100 !important;
        margin-left: 10%;
        margin-right: 10%;
    }

    #booking-box input:checked ~ #booking-form {
        display: flex;
        
    }
        
    #booking-box input[type=checkbox]{
        overflow: hidden;
        display: flex;
    }

    #booking-box label img{
        display: none;
        overflow: hidden;
    }


    #booking-form{
        top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        color: rgba(2, 24, 34, 0.959) !important;
        font-family: 'Archivo', sans-serif;
        overflow: visible !important;
        background-color: rgba(245, 245, 220, 0.87);
        background-image: none;
        width: 90%;
        padding: 0;
        border-radius: 0px;
        background: #fffdf0;
        -webkit-box-shadow: 6px 56px 41px -33px rgba(201,201,201,1);
        -moz-box-shadow: 6px 56px 41px -33px rgba(201,201,201,1);
        box-shadow: 6px 56px 41px -33px rgba(201,201,201,1);
    }

    #booking-form label{
        color: rgba(2, 24, 34, 0.959) ;
        text-align: left;
        padding: 0 0 15px 5px;
    }

    .booking-title-box label{
        display: none;
        justify-content: center;
        align-self: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0 !important;
        padding: 0 !important;
        color: rgba(2, 24, 34, 0.959);
    }

    .booking-title-box{
        display: block;
        left: 0;
        z-index: 2;
    }

    #booking-form > .booking-title-box label {
        display: none;
    }

    #booking-date input {
        color: rgba(137, 147, 151, 0.959);
    }

    .booking-location-input, .booking-date-input{
        display: flex;
        flex-direction: column;
        z-index: 20000;
        margin: 10px !important;
        padding: 30px 20px 20px 30px;
        color: rgba(137, 147, 151, 0.959);
        background: transparent;
        border: none;
        font-size: 1.5em;
    }

    .booking-location-input select{
        background: transparent;
        color: rgba(137, 147, 151, 0.959);
        border: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    #booking-location option{
        color: rgba(2, 24, 34, 0.959);
        border: none;
    }

    .booking-location-input label {
        font-family: 'Archivo', sans-serif;
    }

    #booking-date, input{
        border:none;
        color: rgba(137, 147, 151, 0.959);
        background: transparent;
    }

    .booking-submit-button{
        align-self: center;
        width: 200px;
        height: 35px;
        background: rgb(255, 141, 89);
        z-index: 20000;
        margin: 15px 30px 15px 15px;
        color: white !important; 
    }

    .booking-submit-button label{
        margin-top: 10px;
        text-align:center !important;
        color: white !important; 
    }
    .booking-submit-button label:hover{
        cursor: pointer;
    }
    .contact-footer-icon{
        width: 50px;
        height: 50px;
    }


    #subscription{
        position: relative;
        top: 0;
    }

    .subscribe-input > input{
        position: relative;
        width: 400px;
        display: inline-block;
        text-align: left;
        outline: none;
        border-bottom: 1px solid rgba(2, 24, 34, 0.959);
        padding-bottom: 10px;
        transition: 0.3s linear;
        background:transparent;
        padding-top: 40px;
    }

    #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        height: 300px;
        background-image: none;
    background-color: rgba(2, 24, 34, 0.959);
    }
    .contact-footer-icon{
        width: 30px;
        height: 30px;
    }


    .mapouter .gmapcanvas iframe{
        position: relative;
        display: flex;
        width: 100%;
        height: 100px;
    } 
footer{
    width: 100%;
    bottom: 0;
    height: 500px;
    
}
    
}