
#booking-bar{
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: url("photos/booking.bar.jpg");
    background-size: cover;
    z-index: -100;
}
.booking-bar-heading{
    margin-top: 130px;
    height: 100px;
    left: 10%;
    right: 10%;
    font-size: 2rem;
    padding-top: 60px;
    font-family: 'Archivo', sans-serif;
    color: orangered;
    

}

#booking-box input:checked ~ #booking-form {
    display: block;
    
}
     
#booking-box input[type=checkbox]{
    overflow: hidden;
    display: block;
}

#booking-box label img{
    display: none;
    overflow: hidden;
}


#booking-form{
    top: -20;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    font-family: 'Archivo', sans-serif;
    border: 5px solid rgba(204, 222, 248, 0.86);

    
 
}

.booking-title-box label{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}

.booking-title-box{
    margin-top: 20px;
}

#booking-form > .booking-title-box label {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    
}
.booking-location-input, .booking-date-input{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    align-self: center;
    justify-content: center;


}

.booking-location-input select{
    background: rgba(0,0,0,0.1);
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#booking-location option{
    color: white;
    background: rgba(14, 28, 65, 0.753);
    border: none;
}

.booking-location-input label {
    font-family: 'Archivo', sans-serif;
    
}

#booking-date, input{
    background: rgba(0,0,0,0.1);
    border:none;
    border-bottom: 2px solid white;
    color: white;
}

.booking-submit-button{
    align-self: center;
    padding: 5px;
    border: 2px solid white;
    background: rgba(247, 96, 26, 0.582);
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.booking-submit-button label:hover{
     cursor: pointer;
}